.head-banner {
    background-color: black;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: url(images/clouds.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
}

.dark-mode {
    background-color: black;
    color: white;
}

.carousel-section {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.list-inline-item > a {
    color: black;
}